DATABASE_URL=./db.sqlite
ROCKET_DATABASES="{sqlite={url=\"${DATABASE_URL}\"}}"
BACKEND_URL=http://localhost:8000

# OIDC_CONFIGURATION_URI=
# OIDC_CLIENT_ID=
# OIDC_CLIENT_SECRET=
# OIDC_REDIRECT_URI=http://localhost:8080/auth/oidc/redirect
# OIDC_ENABLED=true